@using BlogApplication.Models
@model PersonViewModel

@{
    ViewBag.Title = "Knockout";
}

<div class="container" id="person-page">
    <div class="row">
        <h2>Om meg</h2>
    </div>
    <div class="row">
        <div>
            <span data-bind="text: FirstName" ></span>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            var personViewModel = createPersonViewModel(@Html.RawJsonModel());
            ko.applyBindings(personViewModel, document.getElementById("person-page"));
        });

    </script>
}


